.like-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px); /* BottomNavigation 높이를 뺌 */
  padding-bottom: 100px; /* BottomNavigation 높이만큼 패딩 추가 */
  background-color: #e5e5e5;
  box-sizing: border-box;
  padding: 0 0 20px 0;
  margin: 0;
}

.like-header {
  background-color: #fff;
  height: auto;
  min-height: 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.like-header-content {
  width: 100%;
  margin-top: 30px; /* h1, h2 위아래 위치 조정 */
}

.like-header-content h1 {
  font-size: 33px;
  font-weight: bold;
  color: #000000;
  margin: 0 0 10px 0; /* 상단 마진 제거 및 하단 마진 축소 */
}

.like-header-content h2 {
  font-size: 15px;
  color: #565656;
  margin: 0; /* 마진 제거 */
}

